<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>2017.10.2-2017.10.8</string>
		<key>count</key>
		<string>30</string>
		<key>status</key>
		<string>已发放</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017.10.2-2017.10.8</string>
		<key>count</key>
		<string>30</string>
		<key>status</key>
		<string>已发放</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017.10.2-2017.10.8</string>
		<key>count</key>
		<string>30</string>
		<key>status</key>
		<string>已发放</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017.10.2-2017.10.8</string>
		<key>count</key>
		<string>30</string>
		<key>status</key>
		<string>已发放</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017.10.2-2017.10.8</string>
		<key>count</key>
		<string>30</string>
		<key>status</key>
		<string>已发放</string>
	</dict>
	<dict>
		<key>date</key>
		<string>2017.10.2-2017.10.8</string>
		<key>count</key>
		<string>30</string>
		<key>status</key>
		<string>已发放</string>
	</dict>
</array>
</plist>
