<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>lb.png</string>
		<key>title</key>
		<string>产品类别</string>
		<key>count</key>
		<string>100</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>gys.png</string>
		<key>title</key>
		<string>供应商管理</string>
		<key>count</key>
		<string>100</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>kh.png</string>
		<key>title</key>
		<string>客户管理</string>
		<key>count</key>
		<string>100</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>kc.png</string>
		<key>title</key>
		<string>预警管理</string>
		<key>count</key>
		<string>100</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>cp.png</string>
		<key>title</key>
		<string>产品管理</string>
		<key>count</key>
		<string>100</string>
	</dict>
</array>
</plist>
