<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pic</key>
		<string>muyulu.png</string>
		<key>name</key>
		<string>沐浴露</string>
		<key>manage</key>
		<string>王三</string>
		<key>count</key>
		<string>20</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>supplier</key>
		<string>易趣金华资源</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>maojin.png</string>
		<key>name</key>
		<string>毛巾</string>
		<key>manage</key>
		<string>李四</string>
		<key>count</key>
		<string>20</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>supplier</key>
		<string>易趣金华资源</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>xifashui.png</string>
		<key>name</key>
		<string>洗发水</string>
		<key>manage</key>
		<string>王三</string>
		<key>count</key>
		<string>10</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>supplier</key>
		<string>苏州小商品公司</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>muyulu.png</string>
		<key>name</key>
		<string>沐浴露</string>
		<key>manage</key>
		<string>王三</string>
		<key>count</key>
		<string>20</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>supplier</key>
		<string>易趣金华资源</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>maojin.png</string>
		<key>name</key>
		<string>毛巾</string>
		<key>manage</key>
		<string>李四</string>
		<key>count</key>
		<string>20</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>supplier</key>
		<string>易趣金华资源</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>xifashui.png</string>
		<key>name</key>
		<string>洗发水</string>
		<key>manage</key>
		<string>王三</string>
		<key>count</key>
		<string>10</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>supplier</key>
		<string>苏州小商品公司</string>
	</dict>
</array>
</plist>
