<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>毛巾</string>
		<key>img</key>
		<string>maojin.png</string>
		<key>count</key>
		<string>10</string>
		<key>inPrice</key>
		<string>10.00</string>
		<key>outPrice</key>
		<string>20.00</string>
		<key>remarks</key>
		<string>一条普通毛巾</string>
	</dict>
	<dict>
		<key>name</key>
		<string>洗发水</string>
		<key>img</key>
		<string>xifashui.png</string>
		<key>count</key>
		<string>20</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>remarks</key>
		<string>海飞丝洗发水</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沐浴露</string>
		<key>img</key>
		<string>muyulu.png</string>
		<key>count</key>
		<string>30</string>
		<key>inPrice</key>
		<string>60.00</string>
		<key>outPrice</key>
		<string>70.00</string>
		<key>remarks</key>
		<string>力士沐浴露</string>
	</dict>
	<dict>
		<key>name</key>
		<string>毛巾</string>
		<key>img</key>
		<string>maojin.png</string>
		<key>count</key>
		<string>10</string>
		<key>inPrice</key>
		<string>10.00</string>
		<key>outPrice</key>
		<string>20.00</string>
		<key>remarks</key>
		<string>一条普通毛巾</string>
	</dict>
	<dict>
		<key>name</key>
		<string>洗发水</string>
		<key>img</key>
		<string>xifashui.png</string>
		<key>count</key>
		<string>20</string>
		<key>inPrice</key>
		<string>50.00</string>
		<key>outPrice</key>
		<string>60.00</string>
		<key>remarks</key>
		<string>海飞丝洗发水</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沐浴露</string>
		<key>img</key>
		<string>muyulu.png</string>
		<key>count</key>
		<string>30</string>
		<key>inPrice</key>
		<string>60.00</string>
		<key>outPrice</key>
		<string>70.00</string>
		<key>remarks</key>
		<string>力士沐浴露</string>
	</dict>
</array>
</plist>
