<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>杨一</string>
		<key>img</key>
		<string>a.png</string>
		<key>title</key>
		<string>经理</string>
		<key>tel</key>
		<string>18112547651</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>img</key>
		<string>a.png</string>
		<key>title</key>
		<string>人事</string>
		<key>tel</key>
		<string>13786789865</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨四</string>
		<key>img</key>
		<string>b.png</string>
		<key>title</key>
		<string>业务员</string>
		<key>tel</key>
		<string>18118195178</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>img</key>
		<string>a.png</string>
		<key>title</key>
		<string>经理</string>
		<key>tel</key>
		<string>15861047098</string>
	</dict>
	<dict>
		<key>name</key>
		<string>孙七</string>
		<key>img</key>
		<string>b.png</string>
		<key>title</key>
		<string>经理</string>
		<key>tel</key>
		<string>18112547651</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨一</string>
		<key>img</key>
		<string>a.png</string>
		<key>title</key>
		<string>经理</string>
		<key>tel</key>
		<string>18112547651</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>img</key>
		<string>a.png</string>
		<key>title</key>
		<string>经理</string>
		<key>tel</key>
		<string>15861047098</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张三</string>
		<key>img</key>
		<string>a.png</string>
		<key>title</key>
		<string>人事</string>
		<key>tel</key>
		<string>13786789865</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李四</string>
		<key>img</key>
		<string>a.png</string>
		<key>title</key>
		<string>经理</string>
		<key>tel</key>
		<string>15861047098</string>
	</dict>
</array>
</plist>
